<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <packageSources>
    <add key="public" value="https://api.nuget.org/v3/index.json" />
    <add key="itenium" value="https://nuget.pkg.github.com/Itenium-Forge/index.json" />
  </packageSources>

  <packageSourceCredentials>
    <itenium>
      <add key="Username" value="%Nuget_CustomFeedUserName%" />
      <add key="ClearTextPassword" value="%Nuget_CustomFeedPassword%" />
    </itenium>
  </packageSourceCredentials>
</configuration>
